body {
    margin: 30px 0px;
}
.progress {
    position: relative;
    height: 25px;
}
.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}
.main-container{
    margin-top: 60px;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.navbar-brand {
    padding: 0px !important; /* firefox bug fix */
    margin-left: 10px !important;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
}




div {
    /*box-sizing: border-box;*/
    outline-color: #ade3ff;
    outline-style: none;
}

/* Dropdowns - I */
.dropdown .dropdown-toggle .down-arrow {
    display: inline-block;
    margin-top: 6px;
    margin-left:5px;
    width: 16px;
    height: 9px;
    background-image: url("http://www.htic.es/assets/down-arrow.png")
}

.dropdown .dropdown-toggle .caret {
    display: none;
}

.dropdown.open .down-arrow {
    behavior:url(-ms-transform.htc);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: rotate(-180deg);
}

.dropdown button,
.dropdown-menu {
    background-color: #f6f8f8;
}

.dropdown-menu {
    margin-top: 0px;
    background-color: #f6f8f8;
    border-radius: 0 0 0 0;
}

.dropdown-menu > li > a:hover {
    background-color: #96a4ad;
}
/* Dropdowns - F */

div.clearfix {
    margin-top: 15px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.margin-top-15 {
    margin-top: 15px;
}

/** General HTML style - I */
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);*/

body
{
    font-family: 'Roboto', sans-serif;
    /*color: #B7C4CB;*/
    background-color: #F7F9F9;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

body > div {
    margin-top: 10px;
}

a {
    /*font-size: 0.9em;*/
    color: #72B032;
    /*color: #86BB4F;*/
}

a, a:hover, a:focus, a:visited {
    text-decoration: none;
}

/** General HTML style - F */

canvas {
    margin-bottom: 15px;
}

container {
    padding-bottom: 15px;
}

/*#monthDrop*/
.dropdown button .btn-default {
    width:100%;
    border-color: red;
}

.balance {
    line-height: 1em;
    font-size:2.5em
}

.title {
    color: #a0aeb6;
    font-size: 1em;
    margin-bottom: 10px;
}

/** Rounded divs - I */
div.rounded,
div.top-rounded,
div.bottom-rounded {
    border: solid 1px #dce1e5;
}

div.rounded {
    margin-bottom: 20px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius:  4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

div.top-rounded {
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}

div.bottom-rounded {
    border-top-style: none;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}
/** Rounded divs - F */


/** Dropdown draft - I */
.dropdown span.caret {
    float:right;
    margin-top:8px;
}

.dropdown button {
    text-align: left;
}

.dropdown-menu {
    width: 100%;
}
/** Dropdown draft - F */

/** Let tabls-left class be available in bootstrap 3.3.7 - I **/
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.tabs-left > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > div {
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > div {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus,
.tabs-left > .nav-tabs .active > div,
.tabs-left > .nav-tabs .active > div:hover,
.tabs-left > .nav-tabs .active > div:focus{
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}
/** Let tabls-left class be available in bootstrap 3.3.7 - F **/

.account-type
{
    font-family: 'Roboto', sans-serif;
    color: #A0AEB6;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 18px;
}

.account-amount
{
    font-family: 'Roboto', sans-serif;
    color: #A0AEB6;
    font-size: 1.1em;
    line-height: 16px;
}

.account-link
{
    font-family: 'Roboto', sans-serif;
    font-size: 0.85em;
    /*line-height: 1em;*/
}

/* TABS */
.tabs-left > .nav-tabs{
    margin-right:0px;
    padding: 0;
    height: 100%; /* 700px - Debe ser el mismo height que el que tenga .tab-content */
}

/* CONTENIDO DE LOS TABS */
.tab-content {
    background-color: #FFFFFF;
    border:solid 1px #DCE1E5;
    border-left-style: none;
    height: 100%;
    margin-bottom: 15px;
    min-height: 700px;
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;

    -webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
}

.tab-content > div {
    margin-top: 26px;
}

/* Formato del tab activo */
.tabs-left > .nav-tabs .active > a, 
.tabs-left > .nav-tabs .active > a:hover, 
.tabs-left > .nav-tabs .active > a:focus,

.tabs-left > .nav-tabs .active div, 
.tabs-left > .nav-tabs .active div:hover, 
.tabs-left > .nav-tabs .active div:focus
{

    border-bottom-style: none;
    border-left-style: none;

    /*border-bottom: 1px solid #DCE1E5;*/
    /*border-left: 1px solid #DCE1E5;*/
    border-bottom-left-radius: 0px;
    border-right-style: none;

    margin-right: -1px;

    -webkit-box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
    -moz-box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
    box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
}

/* Formato de los tabs en general */
.tabs-left > .nav-tabs > li:nth-child(1) > a,
.tabs-left > .nav-tabs > li:nth-child(1) > a:hover,
.tabs-left > .nav-tabs > li:nth-child(1) > a:focus,

.tabs-left > .nav-tabs > li:nth-child(1) > div,
.tabs-left > .nav-tabs > li:nth-child(1) > div:hover,
.tabs-left > .nav-tabs > li:nth-child(1) > div:focus 
{
    cursor: pointer;
    border-top-left-radius: 4px;
}

.tabs-left > .nav-tabs > li.active:nth-child(1) > a,
.tabs-left > .nav-tabs > li.active:nth-child(1) > a:hover,
.tabs-left > .nav-tabs > li.active:nth-child(1) > a:focus,

.tabs-left > .nav-tabs > li.active:nth-child(1) > div,
.tabs-left > .nav-tabs > li.active:nth-child(1) > div:hover,
.tabs-left > .nav-tabs > li.active:nth-child(1) > div:focus 
{
    border-top-left-radius: 4px;
    border-bottom-style: none;
}

.tabs-left > .nav-tabs > li > a, 
.tabs-left > .nav-tabs > li > div {
    /*display:block;*/
    /*display: table;*/
    /*border: solid 1px transparent;*/
    margin-right: -1px;
    margin-bottom: -1px;
    border-radius: 0px;
    cursor: pointer;
}

/* Style of the div element acting as tab content */
.tabbable.tabs-left > .nav-tabs > li > div > div {
    display:block;
    width: 100%;
    padding: 1em;
    min-height: 6em;
}


li{
    border: 1px solid #DCE1E5;
    background-color: #FFF;
}

li:hover{
    background-color: #EEE;
}

li.active, li.active:hover {
    background-color: #DCE1E5;
    z-index: 10;
}

li.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #DCE1E5;
}

/** For elements on the same line that jump down - I */
@media (max-width: 1200px) {
    .mt-20 {
        margin-top:20px;
    }

    .tab-content {
        border-left-style: solid;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
    }

    .tabs-left > .nav-tabs > li {
        float: left;
    }

    li.active:after {
        content: none;
    }
    
    ul{
        overflow: hidden;
    }

}

@media (max-width: 520px) {
    .tabs-left > .nav-tabs > li {
        float: none;
    }

    .tabs-left > .nav-tabs {
        width: 100%;
    }
}


li.active .account-type {
    color: #777;
}

.account-amount {
    font-family: 'Roboto', sans-serif;
    color: #656667;
    font-size: 0.8em;
    line-height: 0.8em;
}
.account-type {
    font-family: 'Roboto', sans-serif;
    color: #A0AEB6;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 0.9em;
    display: block;
}